
{% extends "base.html" %}

{% csrf_token %}

{% block title %} EDT {% endblock %}
{% block content %}

{% load static %}


<link rel="stylesheet" href="{% static 'base/better.css' %}?2" />
<script src="{% static 'base/d3.v4.min.js' %}"></script>
<table id="cost_table" border=1>
    <tr><th>Groupe</th><th>Promo</th><th>Semaine</th><th>Année</th><th>Valeur</th></tr></table>
<script>

    var url_csv = "{% url "base:fetch_cost" department year week %}";
    $.ajax({
        type: "GET",
        dataType: 'text',
        url: url_csv,
        async: true,
        contentType: "text/csv",
        success: function(msg, req) {
            console.log(msg); 
            cost = d3.csvParse(msg, translate_costs_from_csv);
            console.log(cost);
            var table = document.getElementById("cost_table");
            console.log(table);
            for(i=0;i<cost.length; i++){
                table.innerHTML += "<tr><td>"+cost[i].group+"</td>\
                <td>"+cost[i].promotion+"</td><td>"+cost[i].week+"</td>\
                <td>"+cost[i].year+"</td><td>"+cost[i].cost+"</td></tr>";
            }
        },
        error: function(msg) {
            console.log("error");
        }
    });

    function translate_costs_from_csv(d) {
        var cost = {
 
            group : d.groupe,
            promotion : d.promo,
            week : d.semaine,
            year : d.an,
            cost : d.valeur,
        };
        return cost;
    }

</script>

{% block script_variable %}{% endblock %}
{% block script_file %}{% endblock %}

{% endblock %}
